.activator-strip {
	background: rgba(0, 0, 0, 0.6);
	padding: 20px 0;
	text-align: center;
	margin-top: 28px;
}
.activator-strip h1 {
	color: #fff;
	font-size: 28px;
}
.activator-strip .row {
	margin-bottom: 0;
}

table {
	width: 100%;
}

.latest td {
	font-size: 16px;
	padding: 20px;
	background: #fff;
}
.latest a {
	font-weight: bold;
	font-size: 19px;
}